# Python
__pycache__/
*.py[codz]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.envrc

# Generated pipeline outputs
ml/*.joblib
data/*.csv

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.sw?
*.suo

# Temp
tempCodeRunnerFile.py

# Ruff
.ruff_cache/

# mypy
.mypy_cache/
